:root {
  --red: #d13948;
}

/*! -------------- 1- NAVBAR ---------------- */
.navbar {
  font-size: 1.2rem;
  font-weight: 600;
  /* background-color: cadetblue; */
}
/* .navbar img {
  border: 2px solid black;
} */

.nav-link {
  color: black;
  transition: color 0.7s;
}
.nav-link:hover {
  color: var(--red);
}
/*! ------------- 2- CAROUSEL --------------- */

.carousel-item {
  max-height: calc(100vh - 78px);
}
.carousel-item h5 {
  color: var(--red);
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px black;
}

.carousel-item p {
  text-shadow: 2px 2px 2px black;
  font-weight: 600;
}

.carousel-item button {
  width: 6rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.carousel-indicators button {
  background-color: var(--red) !important;
  height: 0.4rem !important;
  width: 3rem !important;
  margin-right: 0.5rem !important;
}

/*! ------------ 3- ABOUT SECTION ----------- */

/*! ------------- 4- INSTRUCTORS -------------*/

section#instructor .card {
  transition: transform 0.5s;
}
section#instructor .card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

section#instructor .socials i {
  transition: opacity 0.5s;
}
section#instructor .socials i:hover {
  opacity: 0.7;
}
/*! ----------- 4- STUDENTS SECTION ----------*/

section#student img {
  max-width: 400px;
  min-width: 200px;
}

/*! ----------- 5- COURSES SECTION ----------- */
.tab-content img {
  border: 8px solid white;
  border-radius: 1rem;
}

section#courses .nav-link.active {
  background-color: var(--red);
}

section#courses .nav-link {
  color: white;
}

/*! ----------- 6- CONTACT SECTION ------------ */

/** -------------- UP-BUTTON ------------------ */

/*! --------------- 7- FOOTER ----------------- */

footer i {
  font-size: 2rem;
  color: azure;
  margin: 0.5rem;
}

footer {
  font-size: 14px;
}
